.img-gallery img{
    height: 400px;
    /*width: auto !important;*/
}
.main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.img-gallery{
    display: flex !important;
    justify-content: center;
    /*width: 50vh;*/
}

.arts_img img{
    height: 600px;
    width: 40vw;
}